.c-btn {
  padding: $width-multiplier (2 * $width-multiplier);
  border-radius: 4px;
  outline: none;
  min-width: 10 * $width-multiplier;
  border-style: solid;
  font-family: $font-family;
  font-size: 14px;
  cursor: pointer;

  &.c-btn--primary {
    background: #5d689a;
    color: #fff;
  }
}