
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

// base config
@import 'setting';
@import 'mixins';
@import 'grid';
@import 'typograph';

// styling
@import 'components/**/*';

// global
body {
  margin: 0;
  font-family: $font-family;
  font-weight: 300;
}

*, 
:after, 
:before {
  box-sizing: border-box;
}

.clearfix:after {
  @include clearfix;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 0;
}